fastapi==0.70.0
attrs==21.2.0
attr==0.3.1
uvicorn==0.15.0
pytest==5.3.5
alembic==1.7.5
dependency-injector
psycopg2-binary==2.8.6
asyncpg==0.25.0
PyJWT==1.7.1
python-decouple==3.3
pydantic[email]
celery==4.4.7
redis==3.5.3
uuid==1.30